<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="blog-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.records}">
                    <article class="am-g blog-entry-article">
                        <div class="am-u-lg-6 am-u-lg-12 am-u-sm-12 blog-entry-text post-preview">
                            <div class="topic-header">
                                <div class="pull-left">
                                    <div class="blog-flex-center">
                                        <div class="blog-flex0">
                                            <img th:src="@{${configurations.get('yourAvatar')}}" alt=""
                                                 class="link avatar avatar-image">
                                        </div>
                                        <div class="author-lockup blog-flex1">
                                            <a class="link" href="javascript:;"
                                               th:text="${configurations.get('yourName')}">weil</a>
                                            <span class="in">in</span>
                                            <span class="category-name">
                                <a class="category-name" rel="tag" th:href="@{'/blog/category/1?search=' + ${blog.categoryName}}"
                                   th:utext="${blog.categoryName}">
                                    </a>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right time pc_time"
                                      th:text="${#dates.format(blog.createDate, 'yyyy-MM-dd')}">2022-06</span>
                            </div>
                            <h1 class="post-index-title"><a itemtype="url" th:href="@{'/blog/detail?id=' + ${blog.id}}">
                                <th:block th:text="${blog.title}"></th:block>
                            </a>
                            </h1>
                            <div class="post-content-preview article-body">
                                <a th:href="@{'/blog/detail?id=' + ${blog.id}}">
                                    <img th:src="@{${blog.coverImage}}" alt=""></a>
                            </div>
                            <div class="clearfix topic-footer">
                                <span class="pull-left time mobile_time">2022-06</span>
                            </div>
                    </article>
                </th:block>
            </th:block>
            <th:block th:if="${null != blogPageResult}">
                <ul class="am-pagination">
                    <li th:class="${blogPageResult.current==1}?'disabled' : 'am-pagination-prev'"><a
                            th:href="@{${blogPageResult.current==1}?'##':'/blog/'+${type}+'/' + ${blogPageResult.current-1}}">&laquo;</a>
                    </li>
                    <li th:if="${blogPageResult.current-3 >=1}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current-3}}"
                            th:text="${blogPageResult.current -3}">1</a></li>
                    <li th:if="${blogPageResult.current-2 >=1}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current-2}}"
                            th:text="${blogPageResult.current -2}">1</a></li>
                    <li th:if="${blogPageResult.current-1 >=1}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current-1}}"
                            th:text="${blogPageResult.current -1}">1</a></li>
                    <li class="active"><a href="#" th:text="${blogPageResult.current}">1</a></li>
                    <li th:if="${blogPageResult.current+1 <=blogPageResult.pages}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current+1}}"
                            th:text="${blogPageResult.current +1}">1</a></li>
                    <li th:if="${blogPageResult.current+2 <=blogPageResult.pages}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current+2}}"
                            th:text="${blogPageResult.current +2}">1</a></li>
                    <li th:if="${blogPageResult.current+3 <=blogPageResult.pages}"><a
                            th:href="@{'/blog/'+${type}+'/' + ${blogPageResult.current+3}}"
                            th:text="${blogPageResult.current +3}">1</a></li>
                    <li th:class="${blogPageResult.current==blogPageResult.pages}?'disabled' : ''">
                        <a
                                th:href="@{${blogPageResult.current==blogPageResult.pages}?'##' : '/blog/'+${type}+'/' + ${blogPageResult.current+1}}">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
</div>
</html>